<!-- Example of displaying the object keys and values in a table -->
<!-- <table>
  <th *ngFor="let item of product | keyvalue">{{ item.key }}</th>
  <tr>
    <td *ngFor="let item of product | keyvalue">{{ item.value }}</td>
  </tr>
</table> -->

<p *ngIf="product && product.price > 700">
  <button type="button" (click)="notify.emit()">Notify Me</button>
</p>
